<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites</title>
</head>
<body>
    These are your favourites Hello

    <div th:each = "recipe:${lsOfFavourites}">  

        <form 
        action="#"
        th:action="@{/recipes/instructions/(id=${recipe.id})}" 
        th:object="${recipe}"
        method="post"
        >

            <a href="#"></a><span th:text ="${recipe.getTitle()}"></span>
                <input type="hidden" name="recipeTitle" th:value="${recipe.title}">
                <input type="hidden" name="id" th:value="${recipe.id}">
                <input type="hidden" name="recipeImageUrl" th:value="${recipe.getImageUrl}">

            <input type="submit" name="recipe" value="View this recipe"></input>
        </form>
    </div>

</body>
</html>