<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparation</title>
</head>
<body>
    <h1 th:text="${recipe.getTitle()}"></h1>
    <h2>Ingredients</h2>

    <!-- =====PREPARATION===== -->

    <div th:each="recipeInstructions:${lsOfRecipeInstructions}">
        
        
        <div th:each="steps:${recipeInstructions.getLsOfSteps()}">
            <table>  
                <br>
                <tr>Step #<span th:text="${steps.getNumber()}"> </span><br><span th:text =${steps.getStep()}></span></tr>      
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <button>Save this recipe!</button>
    <a href="/search">
        <button>Search for more recipes</button>
    </a>
</body>
</html>