<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Instructions</title>
</head>
<body>
    <h1>here are your instructions</h1>
    <table>
        <tr>Here are your Steps</tr>
        <br>
        <div th:each="{steps: recipeInstructions.getLsOfSteps()}"></div>
            <tr>Steps: <span th:text =${steps.getStep()}></span></tr>
    </table>
</div>
</body>
</html>