<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get your recipe here!</title>
</head>
<body>
    <script src="C:\Users\Andrew Kwan\Projects\ssf-miniproject\src\main\resources\templates\script.js"></script>
    <h1>Get your recipe here!</h1>
    <form
    action="#"
    th:action="@{/recipes}"}
    method="get"
    th:object="${recipe}"
    >
    <label>Ingredients: </label>
    <input type="text" th:field="*{ingredients}" placeholder="onions">
    <p>
        <button class="add">Add Ingredient
        </button>
        <button class="remove">Remove</button>
    </p>
    <br>
    <br>
    <label>Number of recipes: </label>
    <input type="number" th:field="*{recipeNumber}" min="1">
    <br>
    <br>
    <button type="submit">Get recipes!</button>
    </form>
    
    
</body>
</html>